body
{
    background-color: rgb(26, 26, 46);
}
.right
{
    width: 250px;
    /* background-color: lightslategray; */
    position: relative;

}
.right::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -3%;
    background-color:rgb(26, 26, 46);
    filter: blur(7px);
    z-index: 2;

}
.pic
{
    width: 400px;
    height: 550px;
    object-position: -120px;
    margin-top: -30px;
    z-index: 5;
}
.tag2
{
    width: 270px;
    background-color: rgb(26, 26, 46);
    height: 90%;
    border-radius: 20px;
    border: 2px solid rgba(246, 241, 241, 0.2);
    z-index: 2;
}
.title
{
    /* background-color: bisque; */
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
    width: 30px;
    height: 30px;
}
.password_input2
{
    width: 90%;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    text-indent: 10px;
    color: white;
    background-color: rgba(93,95,110,255);
}
.show_ps2
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(93,95,110,255);
    border: none;
    cursor: pointer;
}
.sign_bt
{
    margin-top: 20px;
    width: 100%;
    height: 25px;
    color: white;
    border-radius: 20px;
    border: none;
    background-color: rgba(84,134,169,255);
    font-weight: bold;
}
.google_bt
{
    width: 100%;
    height: 26px;

    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.back
{
    color: white;
    font-size: 10px;
    margin-top: 10px;
    font-family: arial;
    text-align: center;
}
.back:hover
{
    color: rgba(84,134,169,255);
}
.creat_acc
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.new
{
    color: white;
    font-family: arial;
    font-size: 10px;
}
.creat
{
    color: white;
    font-family: arial;
    font-size: 10px;
    margin-left: 5%;
}
.creat:hover
{
    color: rgba(84,134,169,255);
    cursor: pointer;
}
.name_page
{
    font-weight: bold;
}
.google_logo
{
    width: 70px;
    height: 24px;
    object-fit: cover;
    overflow: hidden;
}
/* .SIGN_INBT:active
{
    border-bottom: 2px solid white;
}
.SIGN_UPBT:active
{
    border-bottom: 2px solid white;
} */
.names
{
    display: flex;
}
.info
{
    display: flex;
    justify-content: space-between
}