.all_users_turnmnt
{
  width: 100%;
  height: 400px;
  margin-top: 20%;
  display: flex;
}
.towVStow1,
.towVStow2
{
  flex: 1;
  background-color: black;
}
.oneVSone1,
.oneVSone2
{
  background-color: lightpink;
  flex: 1;
}
.winnertournmt
{
  flex: 0.7;
  background-color: tomato;
}
.userRight1
{
  width: 80%;
  height: 100px;
  background-color: red;
  margin-top: 20px;
}
.topRihtuserPic
{
  width: 23%;
  border-radius: 100px;
  background-color: red;
}