*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color:rgba(20,20,41,255);
}
.title
{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exitBt
{
  background-color: rgba(72,72,90,255);
  border: none;
  border-radius: 70px;
  padding: 2px 2px;
  margin-left: 20px;
}
.text
{
  flex: 1;
  text-align: center;
}
.texxt
{
  font-family: arial;
  font-weight: bold;
  color: white;
}
.ESC
{
  font-family: arial;
  font-size: 10px;
  text-align: end;
  color: white;
  margin-right: 20%;
  margin-top: 10%;
}
.allTourn
{
  width: 100%;
  height: 200px;
  /* background-color: black; */
  margin-top: 5%;
  display: flex;
  position: relative;
}
.pt1,
.pt2,
.pt3,
.pt4,
.pt5
{
  /* border: 2px solid white; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user1
{
  width: 90%;
  border-radius: 20px;
  display: flex;
  background-color: rgba(75,74,90,255);
  border: 1px white solid;
  justify-content: center;
  align-items: center;
  height: 25%;
}
.userPic
{
  width: 40px;
  border-radius: 30px;
}
.userName
{
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
.exitBt:hover
{
  background-color: white;
  transition: 1s;
}
.winner
{
  width: 60%;
  width: 70%;
  border-radius: 20px;
}

.arow1
{
  position: absolute;
  width: 13%;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  height: 35%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 17%;
  top: 33%;
  z-index: -1;
}
.arow2
{
  position: absolute;
  width: 13%;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  height: 35%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 17%;
  top: 33%;
  z-index: -1;
}
.arow3
{
  position: absolute;
  width: 13%;
  border-top: 2px white solid;
  height: 35%;
  right: 33%;
  top: 50%;
  z-index: -1;
}
.arow4
{
  position: absolute;
  width: 13%;
  border-top: 2px white solid;
  height: 35%;
  left: 33%;
  top: 50%;
  z-index: -1;
}
.userPic1
{
  width: 7%;
  top: 30%;
  border-radius: 20px;
  position: absolute;
}
.userName1
{
  top: 60%;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
}
.title1
{
  width: 100%;
  margin-top: 20%;
}
.text1
{
  color: white;
  text-align: start;
  font-size: 20px;
  font-family: arial;
  margin-left: 2%;
}
.rabe7
{
  color: white;
  font-family: arial;
  text-align: center;
  font-size: 15px;
  margin-top: -3%;
}
.bg1
{
  height: 100%;
  border: 1px white solid;
  border-radius: 20px;
}
.Tournamment
{
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
}
.Tournamment::after
{
  content: '';
  width: 100%;
  height: 100%;
  top: 40%;
  background-color: rgba(56,76,99,255);
  position: absolute;
  filter: blur(80px);
  z-index: -1;
}
.join
{
  position: absolute;
  right: 10%;
  bottom: 10%;
  width: 30%;
  background-color: rgba(95,135,160,255);
  border: none;
  color: white;
  font-family: arial;
  border-radius: 10px;
}
.part1
{
  width: 25%;
  height: 130px;
  display: flex;
  justify-content: center;
  position: relative;
}
.Qty
{
  position: absolute;
  right: 10%;
  bottom: 25%;
  width: 30%;
  font-size: 15px;
  text-align: center;
  color: white;
  font-family: arial;
}
.TeamName
{
  position: absolute;
  left: 12%;
  top: 15%;
  /* width: 30%; */
  font-size: 20px;
  color: white;
  font-family: arial;
}
.TournammentPic
{
  position: absolute;
  width: 13%;
  border-radius: 30px;
  bottom: 8%;
  left: 15%;
}