.main
{
    height: 40svw;
    display: flex;
    margin-top: 12%;
    position: relative;
    /* background-color: tomato; */
}
/* .main::after
{
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    top: 9%;
    left: 41%;
    border-radius: 100%;
    background-color: rgba(20,20,41,255);
    filter: blur(56px);
    z-index: -1;

}
.main::before
{
    content: '';
    position: absolute;
    height: 34%;
    width: 13%;
    top: 50%;
    left: 25%;
    border-radius: 100%;
    background-color: rgba(20,20,41,255);
    filter: blur(56px);
    z-index: -1;

} */
.left
{
    width: 300px;
    flex: 1;
    /* background-color: lightpink; */
}
.right
{
    width: 300px;
    flex: 1;
    display: flex;
    justify-content: end;
    position: relative;
    /* background-color: lightblue; */
}
.right-pic
{
  width: 35svw;
  object-fit:fill;
    margin-top: -15%;
    margin-right: -5%;
}
.not
{
    position: absolute;
    width: 30svw;
    height: 6%;
    bottom: 12%;
    background-color: rgba(20,20,41,255);
    filter: blur(4px);
}
.left-text
{
    font-family: "ADLaM Display", serif;
    color: white;
    font-weight: bold;
    font-size: min(4vw, 70px);
    width: 30svw;
    margin-top: 10%;
    max-width: 500px;
    margin-left: 10%;
}
.sign-bt2
{

    color: white;
    background-color: rgba(58, 79, 124, 0.9);
    border: 1px solid white;
    border-radius: 30px;
    padding: clamp(1px, 1vw, 10px) clamp(0px, 1vw, 26px);
    font-size: clamp(10px, 2vw, 43px);
    font-weight: bold;
    /* USE CLAMPS FOR PADDING TO FIX YOUR SHIT TOMOROW*/ 

}
.sign_div
{
    margin-top: 12%;
    margin-left: 44%;
    position: relative;
}
.sign-bt2:hover
{
    background-color: rgba(102,104,117,0.9);
    color: black;
    transition: 1s;
    border: 1px solid white;
    cursor: pointer;
}
.s-1
{
    
    background-color: rgba(102,104,117,0.5);
    padding: clamp(4px, 1vw, 8px) clamp(10px, 1vw, 13px);
    border-radius: 20px;
    color: white;
    position: absolute;
    font-size: clamp(5px, 1vw, 20px);
    font-family: arial;
    top: 30%;
    right: 25%;
} 
.s-2
{
    position: absolute;
    top: 45%;
    right: 33%;
    background-color: rgba(102,104,117,0.5);
    color: white;
    padding: clamp(1px, 1vw, 8px) clamp(2px, 1vw, 13px);
    border-radius: 20px;
    font-family: arial;
    font-size: clamp(5px, 1vw, 20px);
    width: 9svw;
    min-width: 80px;
}
.step-up,
.Challenge
{
    color: rgb(175, 218, 232);
}