@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.from-bgclrstart {
		--tw-gradient-from: #1a1a2e var(--tw-gradient-from-position);
   		--tw-gradient-to: rgb(1 1 2 / 0) var(--tw-gradient-to-position);
		--tw-gradient-from-position: 70%;
    	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.to-bgclrend {
		--tw-gradient-to: #314860 var(--tw-gradient-to-position);
	}

	.from-btnclrstart {
		--tw-gradient-from: #a955f7 var(--tw-gradient-from-position);
		--tw-gradient-to: rgb(168 85 247 / 0) var(--tw-gradient-to-position);
	
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.t-btnclrend {
		--tw-gradient-to: #3b0764 var(--tw-gradient-to-position);
	}

		/* .pink-btn {
			@apply bg-purple-500 transition duration-500 after:content hover:bg-gradient-to-br hover:from-purple-500 hover:from-20% hover:via-purple-950 hover:via-50% hover:to-purple-950 hover:to-80%;
		}	 */
	.game-btn {
		@apply bg-gray-600
	}
}

.pink-btn::after {
	content: "";
	background: linear-gradient(to top left, rgb(169, 85, 247) 20%, rgb(126 34 206) 50%, rgb(59 7 100) 80%);
	height: 100%;
	width: 0px;
	border-radius: 0.75rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transition-duration: 400ms;
	transition-delay: 100ms;
}

.pink-btn:hover::after {
	width: 100%;
}

.gamemod-btn::after {
	content: "";
	background: #374151;
	height: 100%;
	width: 0px;
	border-radius: 0.75rem;
}

.wallpaper {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(to bottom, #010102, #314860);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.green-btn {
	border-radius: 50%;
	background: #338500;
	box-shadow: inset 15px 15px 18px #276500 inset -15px -15px 18px #3fa500;
}

.faded-border {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 90%);
 	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 90%);
}

.play-btn1 {
	background: #706ea7;
}

.play-btn1:hover {
	background: #7d7da3;
}

.play-btn2 {
	background: #5883a8;
}

.play-btn2:hover {
	background: #6e8ca7;
}

.friends-border {
	border-image-source: linear-gradient(to bottom left, #706ea7, #5487a8);
}

.panel-btn {
	background-color: #3f4251;
	color: white;
}

.panel-btn:hover {
	background-color: #646981;
}

.selected-panel-btn {
	background-color: white;
	color: #3f4251;
}
